<html>
  <head>
    <title>Add Comment</title>
    <link href="/style.css" rel='stylesheet', type='text/css'>
    
    <head>
  <body>
    <h1>Student Information System</h1>
<div>
<br><br>
      <form method="post" action='/comments'>
        <label for="comment">Comment:</label>
        <input type="text" id="comment" name=comment[comment] placeholder="Comment" required>
        <br><br>
        <label for="fname">Name:</label>
        <input type="text" id="name" name=comment[name] placeholder="First Name" required>
        <br><br>
        <input type="submit" name="add" value="Add">
        <br>
      </form>
    </div>
    <div><a href='/comments'>Go Back</a></div>
</form>
</body>
</html>