<html>
<head>
	<title><%= @title %></title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div id="page">
		<div id="logo">
			<h1>Student Information System</h1>
		</div>
		<div id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/students">Students</a></li>
				<li><a href="/comments">Comment</a></li>
				<li><a href="/video">Video</a></li>
				<li><a href="/login">Login</a></li>

			</ul>	
		</div>
		<img src="/images/home1.jpg" >
		<div id="content">
			<h2>Home</h2>
			<p>
				This website contains the information about Students and it is developed using Sinatra Framework.
			</br>
				Authenicate user can create, edit and delete the student information. </br> Students can view the information and comment on it.
			</p>
		</div>
		<div id="footer">
			<p>
				Designed by <a href="https://www.linkedin.com/in/krishnakandhani/">Krishnakumar Kandhani</a>
			</p>
		</div>
	</div>
</body>
</html>
